
.filter {
  display: flex;
  align-items: center;
  margin-top: 0;
  padding: 10px;
  position: fixed;
}

label {
  margin-right: 8px;
}

.dropdown {
  margin-right: 16px;
}


select {
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
}

.dropdown label {
  font-weight: bold;
}


